@media screen and (max-width: 340px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .footer-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    width: 50%;
  }
  .section {
    padding-block: calc(var(--section-padding) + 10px);
  }
  .hero-card {
    grid-template-columns: 60fr 40fr;
  }
  .card-content {
    padding: 4rem;
    align-items: initial;
    text-align: left;
  }
  .combo-content {
    grid-template-columns: repeat(2, 225px);
    column-gap: 2rem;
  }
  .banner-container {
    grid-template-columns: 45fr 55fr;
  }
  .testimonial-card {
    grid-template-columns: repeat(2, 300px);
    column-gap: 2rem;
  }
  .testimonial-card-content:last-child {
    width: 300px;
    grid-column: 1 / -1;
    margin: 0 auto;
  }
  .visit-us-container {
    grid-template-columns: repeat(2, 300px);
    column-gap: 3rem;
  }
  .icon-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer-content {
    grid-template-columns: repeat(4, max-content);
  }
}

@media screen and (min-width: 1023px) {
  .nav {
    height: 5.5rem;
  }
  .nav-menu {
    display: flex;
    width: initial;
    order: 2;
  }
  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-icons {
    order: 3;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    padding: 0;
  }
  .nav-logo {
    order: 1;
  }
  .image-block {
    height: 550px;
  }
  .hero-img {
    object-position: center;
  }
  .combo-content {
    grid-template-columns: repeat(3, 270px);
    column-gap: 2.2rem;
    row-gap: 8rem;
  }
  .banner-image {
    height: 450px;
  }
  .testimonial-card {
    grid-template-columns: repeat(3, 300px);
    column-gap: 2rem;
  }
  .testimonial-card-content:last-child {
    grid-column: 3 / -1;
  }
  .visit-us-container {
    grid-template-columns: repeat(2, max-content);
  }
  .store-image {
    height: 550px;
  }
  .icon-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
  .footer {
    padding-bottom: 3rem;
  }
  .footer-container {
    max-width: 900px;
    margin: 0 auto;
  }
  .footer-content {
    column-gap: 5rem;
  }
  .footer-content {
    grid-template-columns: repeat(4, max-content);
  }
}

@media screen and (min-width: 1150px) {
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding-block: calc(var(--section-padding) + 25px);
  }
  .image-block {
    height: 650px;
  }
  .hero-description {
    max-width: 450px;
  }
  .combo-content {
    grid-template-columns: repeat(3, 350px);
    column-gap: 2.6rem;
    row-gap: 8rem;
  }
  .testimonial-card {
    grid-template-columns: repeat(3, 300px);
    column-gap: 2.5rem;
  }
  .visit-us-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .store-image {
    height: 550px;
  }
  .footer-container {
    max-width: 1095px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-description {
    max-width: 550px;
  }
  .combo-content {
    grid-template-columns: repeat(4, 300px);
    column-gap: 2.6rem;
    row-gap: 8rem;
  }
  .testimonial-card {
    grid-template-columns: repeat(3, 350px);
    column-gap: 2.5rem;
  }

  .testimonial-card-content:last-child {
    width: 350px;

    margin: 0;
  }
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
